html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(127deg,#ff9966, #ff5e62);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*{
  font-family: 'Montserrat', sans-serif;
}
